/* 
    downloaded fonts: 

    font-family: 'Comfortaa', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Nunito', sans-serif;

    font-family: 'Work Sans', sans-serif; 

    font-family: 'Baloo Tammudu 2', sans-serif;

*/

:root {
    --white: #E3DBDB;
    --yellow: #EAB464;
    --darkblue: #40415E;
    --shadow: #38394d;
    --red: #E4572E;
    --blue: #669BBC;
    --green: #A8C686;
}

body {
    background-image: url("assets/starbg.PNG");
    font-family: 'Work Sans', sans-serif;
    color: var(--white);
    margin: 0;
    background-color: var(--darkblue);
}

main {
    margin: 50px;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.25em;
}

/*
    hamburger styling
*/
.ham {
    position: fixed;
    z-index: 300;
    top: 0.75em;
    right: 1em;
    font-size: 40px;
    background: var(--blue);
    color: var(--darkblue);
    border: none;
    border-radius: 5px;
    padding:4px 12px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 100px 30px;
    padding: 10px;
    width: max-content;
    height: max-content;
    border: 3px var(--blue) solid;
    border-radius: 15px;
    box-shadow: 15px 20px 5px var(--shadow);
    list-style: none;
    color: var(--white);
    background: var(--darkblue);
    transform: translateY(-200%);
    transition: transform 0.2s;
}

.menu>li>a{
    color: var(--white);
}

.menu>li {
    text-decoration: underline var(--blue) 3px;
    padding: 5px;
    font-size: 1.5em;
}

.internalmenu {
    color: var(--blue);
    font-size: 20px;
}

.internalmenu>li>a {
    color: var(--blue);
}

.internalmenu>li>a:visited {
    color: var(--blue);
}

.showMenu {
    transform: translateY(0);
}

.closeIcon {
    display: none;
}

/* 
HOME PAGE STYLING
*/

/* 
intro styling
*/
.intro {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 150px auto;
    grid-template-areas: 
    "a b"
    "a c";
    padding-bottom: 50px;
    margin: auto;
}

h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 2.75em;
    background-color: rgba(64, 65, 94, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 20px 5px var(--shadow);
    border: 3px var(--yellow) solid;
    width: 60%;
    text-align: center;
}

.pagetitle {
    width: max-content;
    margin: auto;
    margin-bottom: 50px;
}

.intro>h1 {
    grid-area: b;
    margin: initial;
    height: max-content;
    align-self: center;
}

.intro>p{
    grid-area: c;
    justify-self: flex-start;
    align-self: center;
    margin-top: 0;
    font-size: 1.5em;
    background-color: rgba(64, 65, 94, 0.9);
    padding: 30px;
    width: 60%;
    border-radius: 50px;
    box-shadow: 15px 20px 5px var(--shadow);
    border: 3px var(--yellow) solid;
    height: max-content;
}

.intro>img {
    grid-area: a;
    width: 75%;
    margin: 25px auto;
    align-self: center;
}

@media (max-width: 1400px) {
    .intro {
        grid-template-areas: 
        "b b"
        "a c";
    }
    .intro>h1 {
        margin: auto;
    }
}

@media (max-width: 1050px) {
    .intro {
        grid-template-areas: 
        "b b"
        "c c";
    }
    .intro>p {
        margin: auto;
    }
    .intro>img {
        display: none;
    }
}

@media (max-width: 650px) {
    nav {
        display: none;
    }
}

/* 
showcase styling
*/
#showcase {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#showcase>img {
    width: 25%;
    box-shadow: 10px 10px 5px var(--shadow);
}

#showcase>i{
    font-size: 2.5em;
    color: var(--blue);
    border-radius: 1em;
    box-shadow: 10px 10px 5px var(--shadow);
}

/*
TTRPG PAGE STYLING
*/

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

main>article {
    background-color: rgba(64, 65, 94, 0.9);
    border-radius: 50px;
    box-shadow: 15px 20px 5px var(--shadow);
    border: 3px var(--yellow) solid;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: var(--white);
    width: 75%;
    margin: auto;
    margin-top: 50px;
}

.explanation {
    background-color: rgba(64, 65, 94, 0.9);
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 15px 20px 5px var(--shadow);
    border: 3px var(--yellow) solid;
    width: 75%;
    margin: auto;
}

p>a {
    color: var(--blue);
    font-weight: bold;
}

@counter-style lightning {
    system: cyclic;
    symbols:  "\26A1" ;
    suffix: " ";
}

.keywords li {
    font-size: 1.15em;
    list-style: lightning;
}

.keywords>li>em {
    font-style: normal;
    font-weight: bold;
    color: var(--yellow);
}

h2 {
    font-family: "Baloo Tammudu 2", sans-serif;
    font-size: 2.5em;
    margin: 0;
}

h2>i {
    color: var(--yellow);
    font-weight: normal;
    font-size: 0.8em;
}

#misc>h2 {
    font-size: 2.25em;
}

p>em {
    font-style: normal;
    font-weight: bold;
    color: var(--blue);
}

/*
code adapted from a tutorial created by Professor Sarah Van Wart at Northwestern University
*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-left: 10px;
    min-height: max-content;
}

.card {
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image:hover {
    opacity: 0.7;
}

.featured {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
    width: 90%;
}

.featuredcard {
    display: flex;
    align-items: center;
}

.featuredimage {
    max-width: 85%;
    max-height: 500px;
    margin: auto;
}

.featuredcard>i{
    font-size: 3em;
    color: var(--blue);
    border-radius: 1em;
    box-shadow: 10px 10px 5px var(--shadow);
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 1.75em;
    margin: auto;
    padding: 30px;
    color: var(--green);
}

.description {
    font-weight: normal;
    font-style: italic;
    margin: 10px;
    font-size: 1.25em;
}
