/* 
    downloaded fonts: 

    font-family: 'Comfortaa', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Nunito', sans-serif;

    font-family: 'Work Sans', sans-serif; 

    font-family: 'Baloo Tammudu 2', sans-serif;

*/

body {
    font-family: 'Work Sans', sans-serif;
    color: #3f3e3e;
    margin: 0;
    background-color: #e8e9f3;
}

main {
    margin: 100px 50px;
}

a {
    text-decoration: none;
    color: #3f3e3e;
}

p {
    font-size: 1.25em;
}


/* 
navbar styling
*/

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    padding: 5px;
    background-color: #cecece;
    border-bottom: 5px solid #a44a3f;
    box-shadow: 0px 5px 10px #a6a6a8;
}

nav>*{
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border-radius: 5%;
}

nav>*:hover {
    background-color: #a6a6a8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    display: none;
    position: absolute;
    font-size: 0.9em;
    min-width: 190px;
    background-color: #cecece;
    border-left: 5px #a44a3f solid;
    border-radius: 2%;
    padding: 5px;
    margin-top: 10px;
    left: -5px;
    box-shadow: 5px 5px 10px #a6a6a8;
}

.dropdown-menu>a{
    padding: 5px;
    display: block;
    border-bottom: 2px solid #a6a6a8;
    font-weight: normal;
}

.dropdown-menu>a:hover {
    background-color: #a6a6a8;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/* 
HOME PAGE STYLING
*/

/* 
intro styling
*/
.intro {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 125px auto;
    grid-template-areas: 
    "a b"
    "a c";
}

h1 {
    grid-area: b;
    padding-top: 10px;
    font-family: "Comfortaa", sans-serif;
    font-size: 2.75em;
}

.intro>p{
    grid-area: c;
    justify-self: flex-start;
    margin-top: 0;
    font-size: 1.5em;
}

.intro>img {
    grid-area: a;
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

@media (max-width: 500px) {
    .intro {
        grid-template-rows: 150px auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
        "b"
        "a"
        "c";
    }

    h1{
        margin: auto;
    }
}

/* 
showcase styling
*/
.showcase {
    height: 1000px;
    border: 5px turquoise solid;
}

/*
TTRPG PAGE STYLING
*/
main>article {
    border: 5px turquoise solid;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

p>a {
    color:#a44a3f;
    font-weight: bold;
}

@counter-style lightning {
    system: cyclic;
    symbols:  "\26A1" ;
    suffix: " ";
}

.keywords li {
    font-size: 1.15em;
    list-style: lightning;
}

.keywords>li>em {
    font-style: normal;
    font-weight: bold;
}

h2 {
    font-family: "Baloo Tammudu 2", sans-serif;
    font-size: 2.5em;
    margin: 0;
}

h2>i {
    color: #a6a6a8;
    font-weight: normal;
    font-size: 0.8em;
}

p>em {
    /* color:#1471bd; */
    font-style: normal;
    font-weight: bold;
}

/*
code adapted from a tutorial created by Professor Sarah Van Wart at Northwestern University
*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    min-height: max-content;
}

.card {
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image.active {
    border: solid 5px black;
}

.image:hover {
    opacity: 0.7;
}

.featured {
    display: grid;
    grid-template: 
    "a b"
    "a c";
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    text-align: center;
    border: solid 5px orange;
    max-height: 500px;
    overflow: hidden;
}

.featuredimage {
    grid-area: a;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.title {
    grid-area: b;
    font-family: Comfortaa, sans-serif;
    font-size: 1.75em;
    margin: auto;
    margin-top: 10%;
}

.description {
    grid-area: c;
    font-weight: normal;
    font-style: italic;
    margin: 5% 5%;
    font-size: 1.25em;
}
